CV_URL_EN='https://drive.google.com/file/d/1_cDlorAPWFZWLMSwyJ8ISVCHzUUDQWy2/view?usp=share_link'
CV_URL_ES='https://drive.google.com/file/d/1k70NcizLq4pgQJZl7QSLgA4i2DLg3VAC/view?usp=share_link'
BASIC_STORE_API='https://bsc-store-f4gyb8eqh4cvc9fb.brazilsouth-01.azurewebsites.net/basic-store/docs'
STOP_ROWS_API='https://stop-rows-api.onrender.com/docs/'
AFFIRMITY_PLAY_STORE_URL='https://play.google.com/store/apps/details?id=REPLACE_WITH_PACKAGE_ID'
AFFIRMITY_APP_STORE_URL='https://apps.apple.com/app/idREPLACE_WITH_APP_ID'