.introductionContainer {
  scroll-margin: 5rem;
  padding: 3rem 1rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introductionTitle {
  text-decoration: underline;
}
.introduction {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  padding: 0 .5rem;
  max-width: 80%;
}

