.aboutSectionTitle {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
  margin-top: 4rem;
  flex-direction: column;
  color: var(--text-color);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.aboutSectionTitle .greeting, .aboutSectionTitle .title {
  backdrop-filter: saturate(120%) blur(10px);
  text-align: start;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  max-width: 70%;
}

.title span {
  /* animation: highlight 2s ease-in-out; */
  background: rgb(194, 186, 175);
  border-radius: 12px;
  color: var(--background-color);
  text-decoration: underline;
}

.introductionContainer {
  scroll-margin: 5rem;
  margin-top: 3.5rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introductionTitle {
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: underline;
}
.introduction {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  padding: 0 .5rem;
  max-width: 80%;
}

.scrollDown {
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  color: var(--text-color);
  text-align: center;
  font-size: 70px;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

@keyframes highlight {
  0% {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  100% {
    color: var(--background-color);
    background-color: var(--text-color);
    text-decoration: underline;
  }
}

@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

@media (max-width: 768px) {
  .aboutSectionTitle {
    height: 100vh;
    padding-top: 5rem;
    justify-content: flex-start;
    margin-left: 0;
  }
  .title {
    font-size: 2.5rem;
  }
  .introductionContainer {
    margin-top: 5rem;
  }
}