.contactContainer {
  margin: 0 auto;
  padding: 3% 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: .8rem;
  color: var(--text-color);
}

.linksList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5rem;
}

.linkItem a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .3rem;
}

.linkItem p {
  text-decoration: inherit;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .3rem;
}

.linkItem h3 {
  text-decoration: inherit;
  color: var(--text-color);
  font-weight: 500;
  margin-top: .3rem;
}

.linkItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.linkItem:hover {
  transform: scale(1.2);
}

.linkItem img {
  width: 3rem;
  height: 3rem;
  margin-bottom: .5rem;
  padding: 1rem;
  border-radius: 40%;
  border: 1px solid var(--text-color);
  background-color: white;
}

@media (max-width: 768px) {
  .contactContainer {
    height: auto;
  }

  .linksList {
    flex-direction: column;
  }
  
  .linkItem {
      padding-top: 2rem;
  }
}