.index {
    display: flex;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 50%;
    height: fit-content;
    align-self: center;
}

.index li {
    list-style-type: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.index button {
    background: none;
    font-size: 1.25rem;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
}

.activeSection {
    font-weight: bolder;
    text-decoration: underline;
}

.inactiveSection {
    text-decoration: none;
}

@media (max-width: 768px) {
    .index {
        display: none;
    }
}