:root {
    --background-color: #f5f5f5;
    --text-color: #333;
    --link-color: #0070f3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

section {
    scroll-margin: 5rem;
}

::selection {
    background-color: var(--link-color);
    color: var(--background-color);
}

html {
    scroll-behavior: smooth;
}