body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Borel', cursive;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Roboto Slab', serif;
}

section {
    scroll-margin: 5rem;
    margin: 0 auto;
    max-width: 1400px;
}

ul {
    padding: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    margin-left: .6rem;
}

::selection {
    background-color: var(--link-color);
    color: var(--background-color);
}

html {
    scroll-behavior: smooth;
}