.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container figure {
    position: relative;
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: black .5px solid;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
    z-index: 1;
}

.navigationButton:hover {
    background-color: var(--shadow-color);
}

.navigationButton:active {
    background-color: black;
}

.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}

.previewsContainer {
    display: flex;
    width: min-content;
    max-width: 100%;
    align-self: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    overflow-x: auto;
}

.preview {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0;
    cursor: pointer;
    opacity: 0.65;
    background-color: black;
}

.preview.active {
    opacity: 1;
    border: 1px solid black;
}

.preview:hover {
    opacity: .85;
}

.imageContainer {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(0.7);
    z-index: 1;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.image {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: none;
}

.image.display {
    display: block;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 120;
}

.modal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: -1rem;
    }

    .navigationButton {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
    }

    .previewsContainer {
        overflow-x: auto;
    }

    .preview {
        width: 40px;
        height: 40px;
    }
}
