.managerContainer .active {
    font-weight: 800;
    text-decoration: underline;
    color: var(--secondary-color);
}

.managerContainer a {
    padding: 5px;
    text-decoration: none;
    color: var(--shadow-color);
}
