.linkContainer {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    align-items: center;
    color: var(--text-color);
}

.linkContainer:hover {
    background-color: var(--primary-color);
    color: var(--shadow-color);
    text-decoration: underline;
}

.linkContainer p {
    margin: 0;
    height: fit-content;
}