.logo, .logoContainer{
    fill: var(--secondary-color);
    width: 70px;
    height: 70px;
}

.logoContainer{
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-left: 2.5%;
}

.navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-height);
    top: 0;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 100;
    backdrop-filter: blur(10px); /* Blur más intenso */
}

.scrolled {
    background-color: var(--background-color);
    backdrop-filter: none;
}

.styleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.resumeLink {
    color: var(--background-color);
    background-color: var(--secondary-color);
    align-self: center;
    border-radius: 10px;
    padding: .5rem;
    margin-left: -1rem;
    text-decoration: none;
}
.resumeLink:hover {
    text-decoration: underline;
    scale: 1.02;
}
.resumeLink:active{
    color: var(--shadow-color);
    background-color: var(--primary-color);
}

@media (max-width: 933px) {
    .resumeLink{
        position: absolute;
        top: var(--navbar-height);
        right: 1rem;
        padding: .3rem;
    }
}

@media (max-width: 768px) {
    .logo {
        margin-top: 1rem;
    }
    .logoContainer {
        order: 2;
    }

    .styleContainer {
        flex-direction: column-reverse;
        justify-content:center ;
        margin-right: 0;
        margin-left: .5rem;
        gap: 0;
        order: 1;
    }

    .resumeLink {
        display: none;
    }
}