.projectContainer {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.floatContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.introductionSection {
  display: flex;
  flex-direction: column;
}

.projectImage {
  max-width: 300px;
  margin-top: 3rem;
  object-fit: contain;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--text-color);
}

.processContainer, .processContainer li {
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .projectContainer {
    align-content: flex-end;
  }
  .projectImage {
    align-self: center;
  }
}