.projectContainer {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.projectContainer h2 {
  text-decoration: underline;
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
}

.projectBodyContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2%;
}

.projectButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1.4rem;
  margin-bottom: .5rem;
}

.projectContainer.noGif {
  padding: 1rem;
}

.projectContainer a {
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
}

.demoButton {
  color: var(--background-color);
  background:var(--secondary-color);
  padding: .5rem;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

.demoButton:hover {
  text-decoration: underline;
  background:var(--bubble-color);
}

.readMoreLink {
  display: flex;
  color: var(--text-color);
  text-decoration: underline !important;
  transition: all .3s ease;
  font-weight: 550;
  cursor: pointer;
  align-items: center;
}
.readMoreLink > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}
.readMoreLink > .arrow::before {
  display: block;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}
.readMoreLink:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
}
.readMoreLink:hover > .arrow::before {
  opacity: 1;
  width: .5rem;
}
.readMoreLink:hover {
  color: var(--shadow-color);
}

.imageContainer{
  position: relative;
  width: 30%;
  min-width: 500px;
  display: inline-block;
  margin: 0;
}

.projectImage {
  object-fit: contain;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.imageContainer article {
  position: absolute;
  top: 0;
  display: none;
  margin: 0;
  height: stretch;
  color: white;
  border-radius: 10px;
}
.projectContainer:hover article{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  height: 100%;
  padding-left: 2%;
}
.projectContainer:hover article h2{
  margin-bottom: 4px;
}

.projectsTitle {
  font-family: system-ui;
  display: grid;
  min-height: 100vh;
  place-content: center;
  overflow: hidden;
  color: var(--text-color);
  cursor: help;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: .5rem 0;
  gap: .5rem;
  margin-top: 1rem;
  list-style: none;
}

@media (max-width: 950px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 400px;
  
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
  }

  .imageContainer{
    width: 100%;
    min-width: 0;
  }

  .technologies {
    justify-content: center;

  }
  .projectContainer h2 {
    text-align: center;
  }
}
