.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main {
  margin: 0 auto;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  max-width: 1000px;
}

.skillsContainer h1 {
  font-size: 2rem;
  padding: 0;
  margin-top: 4rem;
  text-align: center;
  text-decoration: underline;
  color: var(--text-color);
}

.skillsSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
  overflow-x: auto;
}

.skillButton {
  display: inline-block;
  cursor: pointer;
  color: var(--text-color);
  text-align: center;
  border-radius: 10px;
  padding: .5rem;
}

.skillButton h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.skillDivs {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.skillDivs > div {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-left: none;
}

.activeSkill {
  background-color: var(--text-color);
  color: var(--background-color);
}

.inactiveSkill {
  color: #888;
}

.inactiveSkill:hover {
  background-color: gray;
  color: var(--background-color);
}

.skillCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items:  baseline;
  justify-content: baseline;
  height: 300px;
  max-width: 350px;
  margin: .5rem 0;
  padding: .5rem;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.5s ease-in-out;
}

.skillTitle {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.skillTitle h2 {
  margin: 0;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.skillCard ul {
  margin: 0;
  padding: 1rem 0 0 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.skillCard ul::-webkit-scrollbar {
  width: 10px;
}

.skillCard ul::-webkit-scrollbar-track {
  background: var(--background-color);
  border: var(--text-color) 1px solid; 
}
 
.skillCard ul::-webkit-scrollbar-thumb {
  background: var(--text-color); 
}

.skillCard ul::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

.securityLogo, .nextjsLogo {
  background-color: whitesmoke;
  padding: .5rem;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .skillDivs {
    width: 100%;
  }
  .main {
    flex-direction: column;
  }
  .skillsSelector {
    width: 100vw;
    justify-content: flex-start;
  }
  .skillCards {
    flex-direction: column;
    align-items: center;
  } 
}